* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: rgb(238, 238, 238);
    font: normal 14px/1.5 Helvetica, sans-serif;
    height: 100vh;
    flex-wrap: wrap;
}
header, main, footer {
    padding: 1.5em;
}
header {
    flex: 0 0 100%;
    border-bottom: 3px solid rgb(68, 68, 68);
}
header p {
    text-transform: uppercase;
    font: bold 24px/1 Helvetica, sans-serif;
}
h2 {
    font: 300 28px/1.2 Georgia, serif;
}
p {
    padding-top: 1em;
}
footer {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    flex: 0 0 100%;
}
footer p {
    padding: 0;
}