body {
    background-color: rgb(238, 238, 238);
    margin: 5em;
}
.site-header {
    position: relative;
    border-bottom: 0.3em solid rgb(114, 114, 114);
}
.site-header ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
}
.site-header li {
    display: inline-block;
    top: 0;
    right: 0;
    margin: 0.3em;
}
.site-title {
    margin: 0;
    padding: 0;
}
li a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}
.article {
    position: relative;
    max-width: 70%;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.image {
    margin: 0.5em;
    padding: 0.3em;
    border: 2px solid black;
    background-color: #fff;
}
.article-content {
    position: relative;
}
cite {
    display: block;
    position: absolute;
    right: 0;
    max-width: 45%;
    color: rgb(114, 114, 114);
}

.cite-level {
    max-width: 50%;
    border-right: 5px solid rgb(114, 114, 114);
    padding-right: 1em;
    margin-right: 1em;
}
aside {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10em;
}