@import url(https://fontawesome.com/kits/ca9dc59a03);
body {
    background-color: #eee;
    display: block;
}
.blue {
    background-color: #0F4069;
    width: 100%;
    height: 50%;
}
.red {
    background-color: #d5384d;
    width: 100%;
    height: 50%;
}
section.card {
    text-align: center;
    padding: 10%;
    margin: 0;
}